body {
    font-family: "Roboto" , sans-serif;
    color: #434455;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

}
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
button{
    cursor: pointer;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 




/* ----------HEADER----------- */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}


a,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin-top: 0;
    margin-bottom: 0;

}

.header-contact-link{
    padding-top: 24px;
    padding-bottom: 24px;
}

 

.header-menu-link:focus{
    color: #404bbf
}

.header-address {
    font-style: normal;
    color: #434455;

}
.header-contact-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
 .header-contact-link {
     color: #434455;}

.header-contact-link:hover{
    color: #404bbf
}


.header-menu-link {
    padding: 24px 0;
}
.header-contact-link:focus {
    color: #404bbf
}
.header-menu-list{
  display: flex;
  gap: 40px; 
  padding: 0 15px;

}
.header-contact-item{
   margin-right: 40px;

}
.header-contact-item:last-child{
   margin-right: 0;
}

.header-contact-information{
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.header-navigation{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;

}
.header-container{
    display: flex;
    align-items: center;
    padding: 24px 0;
}
.header-logo{
    margin-right: 76px;
    padding: 24px 0;
}


/* ------------------------------------- */
.intro-section{
    background-color: #fff;
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;

}
.intro-title{ 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    padding: 188px 0 ;
    margin: 0 auto;

}
.order-service-button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    }
.order-service-button:hover {
    background-color: #404bbf;
    
}
.order-service-button:focus {
    background-color: #404bbf;

}
.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-item-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-section {
    background-color:#F4F4FD ;
    padding: 120px 0;
}

.team-title { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-member {
    background-color: #FFFFFF
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-member-image { }

.team-member-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-member-role {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}

.team-member-name{
 margin-bottom: 8px;   
}


.member-info { 
    padding: 32px 0;
    text-align: center;
    

}

.portfolio-section{
   padding-top: 120px;
   padding-bottom: 120px; 
}

.portfolio-title{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
}

.category{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.portfolio-item-category
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color:#2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo-studio{
    color: #f4f4fd;
}
.footer-logo {
    display: inline-block ;
    margin-bottom: 16px;}

.footer-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}